.App {
	text-align: center;
	margin: auto;
}

.email {
	margin-left: 15px;
}

.Registro {
	border: 2px solid black;
	margin-left: 33%;
	margin-right: 33%;
	margin-top: 60px;
	background-color: aquamarine;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}

.Inputs {
	margin-bottom: 10px;
}
.editar {
	border: 2px solid black;
}

.cartita {
	float: left;
	margin-left: 5%;
}
.search {
	margin-left: 33%;
}
.searchbar {
	margin-right: 40px;
}
